Repository troIIsmile/djs, changes with the labels that .github/labeler.yml gives for each.
All labels: commands, util, config, init, messages, events, docs

.github/labeler.yml:

commands:
  - commands/**/*.ts

util:
  - utils/**/*

config:
  - .vscode/**/* # visual studio code config
  - .github/**/* # how meta
  - package.json # name and stuff
  - .editorconfig
  - .gitignore # private
  - tsconfig.json # compiler config
  - watch.json # glitch hosting
  - .replit
  - package-lock.json
  - yarn.lock

init:
  - init.ts

messages:
  - messages.ts
  
events:
  - events/**/*

docs:
  - commands/**/*.md
  - events/**/*.md
  - utils/**/*.md
  - README.md
  - example.env

racism
  commands/system/update.ts
Labels: commands

finishing touches
  .replit
  init.ts
Labels: config, init

LOL I forgot to call it
  init.ts
Labels: init

extract isMain to own file
  init.ts
  utils/isMain.ts
Labels: util, init

LuaQuack moment
  init.ts
  messages.ts
  package-lock.json
  package.json
Labels: config, init, messages

add more "songs"
  messages.ts
Labels: messages

remove roblox command since it doesn't work
  commands/internet/image/roblox.ts
Labels: commands

remove shit
  messages.ts
Labels: messages

better update?
  commands/system/update.ts
Labels: commands

we have our own set of listening messages; so this is always 0%
  commands/system/about.ts
Labels: commands

trollsmile-next@1
  package.json
Labels: config

probably not a good idea to put user count since it won't show all of them
  commands/system/about.ts
Labels: commands

remove useless fetch import
  commands/system/about.ts
Labels: commands

add time count for steps
  commands/system/update.ts
Labels: commands

just combine how long it took for each step
  commands/system/update.ts
Labels: commands

more abstraction in update
  commands/system/update.ts
Labels: commands

Update package-lock.json
  package-lock.json
Labels: config

should make updates a little faster
  tsconfig.json
Labels: config

use built in env
  example.env
  init.ts
Labels: init, docs

nvm about that
  tsconfig.json
Labels: config

add article command because why not
  commands/internet/article.ts
  init.ts
  package-lock.json
  package.json
  typings.d.ts
Labels: commands, config, init

LOL
  commands/internet/article.ts
Labels: commands

1.1
  package.json
Labels: config

finally add a readme
  README.md
Labels: docs

clarify it a bit
  README.md
Labels: docs

add a warning
  README.md
Labels: docs

yeah,
  README.md
Labels: docs

more comments and also a new message
  init.ts
  messages.ts
  utils/isMain.ts
  utils/rreaddir.ts
Labels: util, init, messages

add command support to help
  commands/system/help.ts
Labels: commands

remove shit
  commands/internet/obfuscate.ts
Labels: commands

remove eshop
  commands/internet/eshop.ts
  package-lock.json
  package.json
Labels: commands, config

tslib is used at runtime
  package.json
Labels: config

add comments and also robloxip command
  commands/internet/robloxip.ts
  commands/system/update.ts
  init.ts
  package-lock.json
  package.json
  utils/rreaddir.ts
Labels: commands, util, config, init

use underscore so typescript shuts up
  commands/internet/robloxip.ts
Labels: commands

hopefully add color to the update (gets brighter as the update goes on)
  commands/system/update.ts
Labels: commands

OOPS LOL
  commands/system/update.ts
Labels: commands

add a progress bar too
  commands/system/update.ts
Labels: commands

make the progress bar longer
  commands/system/update.ts
Labels: commands

add fake news
  commands/internet/news.ts
  package-lock.json
  package.json
Labels: commands, config

add funni message
  init.ts
  messages.ts
Labels: init, messages
