Repository troIIsmile/djs, changes with the labels that .github/labeler.yml gives for each.
All labels: commands, util, config, init, messages, events, docs

.github/labeler.yml:

commands:
  - commands/**/*.ts

util:
  - utils/**/*

config:
  - .vscode/**/* # visual studio code config
  - .github/**/* # how meta
  - package.json # name and stuff
  - .editorconfig
  - .gitignore # private
  - tsconfig.json # compiler config
  - watch.json # glitch hosting
  - .replit
  - package-lock.json
  - yarn.lock

init:
  - init.ts

messages:
  - messages.ts
  
events:
  - events/**/*

docs:
  - commands/**/*.md
  - events/**/*.md
  - utils/**/*.md
  - README.md
  - example.env

add play command
  commands/audio/play.ts
  package-lock.json
  package.json
Labels: commands, config

idk
  commands/audio/play.ts
Labels: commands

add wathcing
  messages.ts
Labels: messages

trollfacew
  commands/audio/play.ts
Labels: commands

Inline replies.
  init.ts
  package-lock.json
  package.json
Labels: config, init

new prefix for dev
  init.ts
Labels: init

molla
  commands/system/help.ts
Labels: commands

use ffmpeg static
  package-lock.json
  package.json
Labels: config

add shit
  commands/audio/ttsvc.ts
  commands/video/fuckup.ts
  init.ts
  package-lock.json
  package.json
  typings.d.ts
Labels: commands, config, init

forgot
  commands/video/fuckup.ts
Labels: commands

fix replit
  commands/video/fuckup.ts
Labels: commands

we do a little testing
  commands/system/update.ts
Labels: commands

forgot
  commands/system/update.ts
Labels: commands

test is complete: answer is that you can't edit in files
  commands/system/update.ts
Labels: commands

lo
  init.ts
Labels: init

h
  init.ts
Labels: init

feat: no more mentions
  init.ts
Labels: init

nice i pushed broken code to master
  init.ts
Labels: init

revert
  init.ts
  package-lock.json
  package.json
Labels: config, init

lo
  commands/README.md
  commands/internet/article.ts
  commands/system/eval.ts
  commands/video/README.md
  init.ts
  package-lock.json
  package.json
  typings.d.ts
  utils/clean.ts
  utils/types.ts
Labels: commands, util, config, init, docs

remove half of the fucking erorrs
  init.ts
Labels: init

oh my fucking god
  package-lock.json
  package.json
Labels: config

clarify
  .gitignore
  init.ts
Labels: config, init

add upating i guess
  commands/system/update.ts
  init.ts
  package-lock.json
  package.json
Labels: commands, config, init

I am stupid.
  commands/system/update.ts
Labels: commands

mola
  commands/system/update.ts
Labels: commands

please work
  commands/system/update.ts
Labels: commands

Please work: the sequel.
  commands/system/update.ts
Labels: commands

just remove the disabled part
  commands/system/update.ts
Labels: commands

colors!
  commands/system/update.ts
Labels: commands

make it have all the buttons green at the end
  commands/system/update.ts
Labels: commands

remove unused stuff
  commands/system/update.ts
Labels: commands

steal essem server for cta
  commands/internet/image/cat.ts
Labels: commands

disable ytdlcore
  commands/internet/download.ts
Labels: commands

Delete dependabot.yml
  .github/dependabot.yml
Labels: config
